#blog .post-list {
  margin-left: 0;
}

#blog .post-meta {
  color: black;
  /*float: right;*/
}

#blog_title {
  display: inline-block;
  margin: 0;
}

.meta {
  font-family: museo-slab-bold;
  display: block;
  /*position: relative;*/
  font-size: 14px;
  margin-top: 0px;
  font-style: italic;
  color: #888;
}

hr {
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  height: 10px;
  color: black;
}

article.post-content p {
  font-family: Lato, Helvetica Neue, Helvetica, Arial;
  font-size: 17px;
  margin: 0 0 20px;

  text-align: justify;
}

article.post-content ol li {
  color: black;
}

article.post-content h1,
article.post-content h2,
article.post-content h3,
article.post-content h4,
article.post-content h5,
article.post-content h6 {
  font-family: Lato, Helvetica Neue, Helvetica, Arial;
  font-style: normal;
  font-weight: bold;
  color: black !important;
}

code, code * {
  font-size: 14px;
  font-family: Menlo, Monaco, "Courier New", monospace !important;
}

article.post-content h1,
article.post-content h2,
article.post-content h3,
article.post-content h4 {
  margin-top: 50px;
}

article.post-content h5 {
  font-size: 16px;
}

