.project-image {
  display: block;
  height: 140px;
  float: left;
  margin-right: 15px;
  margin-top: 18px;
}

p.project-description {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 15px;
  text-align: justify;
}

.project-header {
  font-family: 'museo-slab-regular';
  font-style: normal;
  display: block;
}

.project-list {
  display: block;
  border-top: 1px solid #f5f5f5;
  position: relative;

  min-height: 170px;
}

.project-list:hover {
  border-top: 1px solid #e6e6e6;
  background: #FEFEFE;
}

.project-link {
  font-family: 'museo-slab-regular';
  position: absolute;
  right: 5px;
  top: 18px;
  font-size: 14px;
}

#project_list {
  margin-left: 5px;
}

.project-header {
  margin-top: 18px;
}

#projects h3 {
  font-size: 19px;
  line-height: 19px;
  margin-bottom: 7px;
}
