<div id="home">
    <div class="container-fluid">
        <div class="story">

            <div class="container">

                <div class="row-fluid">
                    <div class="title">
                        <h1>Anthony Erlinger</h1>

                        <h2>Converting the impossible to possible in <span class="code">O(log(n))</span> time.</h2>

                        <h3>Portfolio site of a developer and technology enthusiast.</h3>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span3">
                        <a class="thumbnail portrait" title="Description of image"> <img src="assets/aerlinger.jpg" alt="">
                        </a>
                    </div>

                    <div class="span2">
                        <ul class="navi">
                            <li>

                                <a href="#resume"> <span class="slash">//</span> Resume</a>
                                <a href="#resume">Skillsets</a>
                                <a href="#publications">Publications</a>
                                <a href="#projects">Projects</a>
                                <a href="#photography">Photography</a>
                                <a href="#contact">Contact</a>

                            </li>
                        </ul>
                    </div>

                    <div class="span7 navi">

                        <p>
                            <strong>I have broad interests</strong>, but my core talents lie in developing software
                            for backend information architecture, including both the application logic and tools for
                            internal analysis and reporting. The scope of my work has included everything from
                            developing the architecture of various REST APIs, DB schemas, and automated analysis
                            (both high and low-level) and reporting systems for both web and mobile platforms.
                            More specifically, I use Ruby/Rails, Javascript, SQL, and R on a daily basis. I've also
                            used Java, C++, Python and Matlab extensively for various projects throughout my career.
                        </p>

                        <p>
                            I'm fortunate enough to love at what I do and seek purpose and fulfilment within my career. As such, my greatest accomplishments have arisen from when I have been intellectually challenged and mentally engaged. I keep a busy schedule, but if you feel my skillsets are in line with a project you are working on, let's talk.
                        </p>

                        <p>
                            In the meantime, feel free to check out the links to the left for more specific information.
                        </p>

                        <img src="assets/ae.png" id="ae" style="float: right; position:relative; right:130px; top: -20px;">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
