<div class="span7 navi">
  <p>
    <strong>I have broad interests</strong>, but my core talents lie in developing software
    for backend information architecture, including both the application logic and tools for
    internal analysis and reporting. The scope of my work has included everything from
    developing the architecture of various REST APIs, DB schemas, and automated analysis
    (both high and low-level) and reporting systems for both web and mobile platforms.
    More specifically, I use Ruby/Rails/Chef, Javascript, SQL, and R on a daily basis. I've also
    used Java, C/C++, Python and Matlab extensively for various projects throughout my career.
  </p>

  <p>
    I'm fortunate enough to love at what I do and seek purpose and fulfilment within my career. As such, my
    greatest accomplishments have arisen from when I have been intellectually challenged and mentally engaged.
    I keep a busy schedule, but if you feel my skillsets are in line with a project you are working on, feel free to reach out.
  </p>

  <p>
    In the meantime, feel free to check out the links to the left for more specific information.
  </p>

  <img src="assets/ae.png" id="ae">
</div>
