<ul class="navi">
  <li>
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
    <a href="/assets/anthony_erlinger_resume.pdf" target="_blank"> Resume</a>
    {% include contact_link.html %}
  </li>
</ul>

<div class="sublinks">
  <ul class="social-links">
    <li class="github">
      <a href="https://github.com/Aerlinger" target="_blank">
        <img src="/assets/github.png" id="github" class="social" height="50px" width="50px" alt="Github"/>
      </a>
    </li>

    <li class="linkedin">
      <a href="https://www.linkedin.com/in/aerlinger/" target="_blank">
        <img src="/assets/linkedin.png" id="linkedin" class="social" alt="LinkedIn"/>
      </a>
    </li>

    <li class="stackoverflow">
      <a href="http://stackoverflow.com/users/1220355/anthony-e" target="_blank">
        <img src="/assets/stackoverflow.png" id="stackoverflow" class="social" alt="StackOverflow"/>
      </a>
    </li>
  </ul>
</div>
