<div id="resume">

<header>
    <div class="navbar subnav">
        <div class="container-fluid">
            <div class="">
                <ul class="navi nav">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#resume">Resume</a></li>
                    <li><a href="#publications">Publications</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#photography">Photography</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
<div class="row-fluid">

<div id="column-1" class="span6">


    <div class="row">
        <div id="work-experience" class="smallpad">

            <h1 style="margin-bottom: 20px">Work Experience</h1>

            <div class="row-fluid">
                <h3 style="display: inline;">Columbia University</h3>
                <h4 style="display: inline;"><span class="label label-success">2010 - CURRENT</span></h4>
                <br/>
                <h4 style="display: inline;">Graduate Student Researcher, </h4>
                <h5 style="display: inline;"><a href="www.bioee.ee.columbia.edu">Bioelectronic Systems
                    Lab</a></h5>

                <div class="span11">

                    <ul>
                        <li> Developing novel devices to analyze the kinetics and
                            conductive properties of bio-molecular systems such as
                            DNA and proteins at small time scales.
                        </li>
                        <li> Additional responsibilities include managing and maintaining
                            lab servers, software licenses, and Linux client machines.
                        </li>
                    </ul>

                </div>
            </div>

            <hr>

            <div class="row-fluid">
                <h3 style="display: inline;">Physics Academy</h3>
                <h4 style="display: inline;"><span class="label label-success">2012 - CURRENT</span></h4>
                <br/>
                <h4 style="display: inline;">Founder & Creator, </h4>
                <h5 style="display: inline;"><a href="www.physicsacademy.com">physicsacademy.com</a></h5>

                <div class="span11">

                    <ul>
                        <li> Full-stack Ruby on Rails web application designed for novel applications of
                            teaching
                            physics through
                            online javascript simulations.
                        </li>
                        <li> Finalist entry at the Columbia Venture Competition (CVC) out of over 80
                            applications.
                        </li>
                    </ul>

                </div>
            </div>

            <hr>

            <div class="row-fluid">
                <h3 style="display: inline;">Biophotonics Research Lab</h3>
                <h4 style="display: inline;"><span class="label label-info">2007 - 2010</span></h4> <br/>
                <h4 style="display: inline;">Research Assistant, </h4>
                <h5 style="display: inline;"><a href="www.innovate.ee.ucla.edu">Electrical Engineering
                    Department,
                    UCLA</a></h5>

                <div class="span11">
                    <ul>
                        <li>
                            Developed Java based image processing algorithms with the objective of
                            identifying cells and
                            micro-objects
                            for novel diagnostic and microscopy applications.
                        </li>
                        <li>
                            Employed low level C code for optimization of massively parallel algorithms on
                            graphics
                            based hardware
                            (Nvidia Complete Unified Device Architecture).
                        </li>
                    </ul>
                </div>

            </div>

            <hr>

            <div class="row-fluid">
                <h3 style="display: inline;">University of California Berkeley</h3>
                <h4 style="display: inline;"><span class="label label-info">Summer 2008</span></h4> <br/>
                <h4 style="display: inline;">Research Intern, </h4>
                <h5 style="display: inline;"><a
                        href="http://www.eecs.berkeley.edu/Faculty/Homepages/neureuther.html/">Electrical
                    Engineering Department, UC Berkeley</a></h5>

                <div class="span11">
                    <ul>
                        <li>
                            Applied computational electromagnetic simulations to optimize the design of
                            nanometer-scale
                            grating
                            antenna.
                        </li>
                        <li>
                            Presented research at UC Berkeley poster colloquium in August 2008.
                        </li>
                    </ul>
                </div>

            </div>


        </div>

    </div>


</div>


<div id="column-2" class="span6">

    <!--
      <div class="row-fluid">
        <div id="skills" class="s">

            <h2>Skillsets</h2>

          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                                                href="#collapseOne"> Hardware Design and Fabrication </a></div>
              <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  <div class="row-fluid">
                    <div class="breadcrumb span11"> Digital Systems</div>
                    <div class="breadcrumb span11"> Analog Systems</div>
                    <div class="breadcrumb span11"> Fabrication</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                                                href="#collapseTwo"> Software Development </a></div>
              <div id="collapseTwo" class="accordion-body in collapse" style="height: auto; ">
                <div class="accordion-inner"> Second</div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                                                href="#collapseThree"> Graphic Design </a></div>
              <div id="collapseThree" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner"> Third</div>
              </div>
            </div>
          </div>


          <div class="row">

            <div class="span6">
              <div class="span1"><span class="label label-success">HTML</span></div>
              <div class="span4">
                <div class="progress progress-success progress-striped active">
                  <div class="bar" style="width: 93%"></div>
                </div>
              </div>
            </div>

          </div>

          <a class="hidden-desktop pull-right"
             onClick="$('html,body').animate({scrollTop: $('#infoyou').offset().top}, 1500);"><i
                  class="icon-circle-arrow-up" style="cursor:pointer;"></i></a>

          <div class="clearfix"></div>
        </div>

      </div>

    -->

    <div class="row">
        <div id="education" class="smallpad">
            <h1 style="margin-bottom: 20px">Education</h1>

            <div class="row">
                <h3 style="display: inline;">Columbia University</h3>
                <h4 style="display: inline;"><span class="label label-info">COMPLETION EXPECTED 2015</span></h4> <br/>
                <h4 style="display: inline;">Ph.D. Candidate,</h4>
                <h5 style="display: inline;">Electrical Engineering 3.79 GPA</h5>
            </div>

            <hr>

            <div class="row">
                <h3 style="display: inline;">Columbia University</h3>
                <h4 style="display: inline;"><span class="label label-success">3.79 GPA</span></h4> <br/>
                <h4 style="display: inline;">Master's of Science ,</h4>
                <h5 style="display: inline;">Electrical Engineering</h5>
            </div>

            <hr>

            <div class="row">
                <h3 style="display: inline;">University of California, Los Angeles</h3> <br/>
                <h4 style="display: inline;">Bachelor's of Science ,</h4>
                <h5 style="display: inline;">Electrical Engineering</h5>
            </div>


            <a class="hidden-desktop pull-right"
               onClick="$('html,body').animate({scrollTop: $('#infoyou').offset().top}, 1500);"><i
                    class="icon-circle-arrow-up" style="cursor:pointer;"></i></a>

            <div class="clearfix"></div>
        </div>

    </div>


    <div class="row">
        <div id="full_resume" class="smallpad">
            <h1 style="margin-bottom: 20px">Full Resume</h1>

            <div class="row">
                <h3 style="display: inline;">Adobe PDF</h3>
                <a class="btn btn-mini btn-success pull-right"><i class="icon-white icon-download-alt"></i>Download</a>
                <a class="btn btn-mini btn-info pull-right" style="margin-right: 10px;"><i
                        class="icon-white icon-print"></i>Print</a>
            </div>

            <hr>

            <div class="row">
                <h3 style="display: inline;">Microsoft Word (.doc)</h3>
                <a class="btn btn-mini btn-success pull-right"><i class="icon-white icon-download-alt"></i>Download</a>
            </div>

            <hr>


            <a class="hidden-desktop pull-right"
               onClick="$('html,body').animate({scrollTop: $('#infoyou').offset().top}, 1500);"><i
                    class="icon-circle-arrow-up" style="cursor:pointer;"></i></a>

            <div class="clearfix"></div>
        </div>

    </div>

    <!--
    <div class="row">
      <div id="awards" class="smallpad">
        <legend class="blue">
          <h2>Awards</h2>
        </legend>

        <div class="row">
          <h3 style="display: inline;">Columbia University</h3>
          <h4 style="display: inline;"><span class="label label-info">COMPLETION EXPECTED 2015</span></h4> <br/>
          <h4 style="display: inline;">Ph.D. Candidate,</h4>
          <h5 style="display: inline;">Electrical Engineering 3.79 GPA</h5>
        </div>

        <hr>

        <div class="row">
          <h3 style="display: inline;">Columbia University</h3>
          <h4 style="display: inline;"><span class="label label-success">3.79 GPA</span></h4> <br/>
          <h4 style="display: inline;">Master's of Science ,</h4>
          <h5 style="display: inline;">Electrical Engineering</h5>
        </div>

        <hr>

        <div class="row">
          <h3 style="display: inline;">University of California, Los Angeles</h3> <br/>
          <h4 style="display: inline;">Bachelor's of Science ,</h4>
          <h5 style="display: inline;">Electrical Engineering</h5>
        </div>

        <a class="hidden-desktop pull-right"
           onClick="$('html,body').animate({scrollTop: $('#infoyou').offset().top}, 1500);"><i
                class="icon-circle-arrow-up" style="cursor:pointer;"></i></a>

        <div class="clearfix"></div>
      </div>

    </div>
    -->

</div>
</div>
</div>
</div>
