<div id="projects">
  <div class="container-fluid">
    <div class="story">
      <div class="row-fluid">

        <div class="title">
          <h1>Projects <span class="rnd">2012</span></h1>

          <h2>Various ongoing projects I have been creating on my free time. Please contact me If you're
            interested in
            getting involved.</h2>
        </div>

        <div class="container">
          <img src="../assets/PhysAcademyCom.png">

          <div class="row-fluid project-description">
            <div class="span3">
              <a href="http://www.physicsacademy.com" class="thumbnail">
                <img src="../assets/PhysAcademyEmblem.jpg" alt="">
              </a>
            </div>
            <div class="span9">
              <div class="well">

                <p> By combining the universal application of well-established learning platforms with
                  the dynamic and
                  portable nature of virtual physics simulations, Physics Academy seeks to build
                  next-generation
                  educational technologies to benefit the worldwide student community.
                </p>

                <p>
                  Learning and student interest is best attained through engagement and interaction.
                  Unfortunately
                  today's educational model lacks both. Physics Academy was to created to change this
                  by providing the
                  most effective and enjoyable way to learn and to teach physics at any level.
                </p>

              </div>
              <a href="http://www.physicsacademy.com" class="btn btn-large btn-warning pull-right">Visit
                Physics Academy &raquo</a>
            </div>
          </div>

          <img src="assets/faraday.js.png">

          <div class="row-fluid project-description">
            <div class="span3"><a href="http://www.physicsacademy.com/labs/circuits" class="thumbnail"> <img
              src="assets/faraday.jpg" alt=""> </a></div>
            <div class="span9">
              <div class="well">

                <p> By combining the universal application of well-established learning platforms with
                  the dynamic and
                  portable nature of virtual physics simulations, Physics Academy seeks to build
                  next-generation
                  educational technologies to benefit the worldwide student community.
                </p>

                <p>
                  Learning and student interest is best attained through engagement and interaction.
                  Unfortunately
                  today's educational model lacks both. Physics Academy was to created to change this
                  by providing the
                  most effective and enjoyable way to learn and to teach physics at any level.
                </p>

              </div>
              <a href="http://www.physicsacademy.com/labs/circuits"
                 class="btn btn-large btn-warning pull-right">Visit Faraday &raquo</a>
              <a href="#" class="btn btn-large btn-info pull-right">Contribute on Github &raquo</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
