<div id="publications">
    <div class="container">
        <div class="story">
            <div class="row">
                <h1>Publications & Patents</h1>

                <h2>Patents</h2>

                <div class="well">
                    <ul>
                        <li> Ozcan, Aydogan; Su, Ting-Wei, Erlinger, Anthony. “Compact Automated Semen Analysis Platform
                            using
                            Lens-Free On-Chip Microscopy” U.S. Patent Application, 13/324,941, Filed 12/13/2011. Patent
                            Pending.
                        </li>
                        <li> Ozcan, Aydogan; Bishara, Waheb; Su, Ting-Wei, Erlinger, Anthony. “Compact Automated Semen
                            Analysis
                            Platform using Lens-Free On-Chip Microscopy” U.S. Patent Application, 13/324,941, Filed
                            12/14/2010.
                            Patent Pending.
                        </li>
                    </ul>
                </div>
                <h2>Refereed Journal Publications</h2>

                <div class="well">
                    <ol>
                        <li>Seo, Sungkyu, Ting-Wei Su, Derek Tseng, Anthony Erlinger, and Aydogan Ozcan, “Lensfree
                            Holographic
                            Imaging for On-chip Cytometry and Diagnostics,” Lab on a chip 9(6), 777-787 (2009).
                        </li>
                        <li> Su, Ting-Wei, Sungkyu Seo, Anthony Erlinger, and Aydogan Ozcan. "High-throughput lensfree
                            imaging and
                            characterization of a heterogeneous cell solution on a chip." Biotechnology and
                            Bioengineering 102.3
                            (2008): 856-68. Wiley Periodicals, 8 Sept. 2008.
                        </li>
                        <li> Seo, Sungkyu, Ting-Wei Su, Anthony Erlinger, and Aydogan Ozcan. "Multi-Color LUCAS:
                            Lensfree
                            Holographic Imaging for On-Chip Cytometry and Diagnostics." Cellular and Molecular
                            Bioengineering 1.2-3
                            (2008): 146-56.
                        </li>
                        <li> Su, Ting-Wei, Sungkyu Seo, Anthony Erlinger, Derek Tseng and Aydogan Ozcan, “Lensfree
                            on-chip
                            Cytometry Towards Wireless Health,” IEEE LEOS Newsletter, October 2008. (Cover Article)
                        </li>
                        <li>Su, Ting-Wei, Sungkyu Seo, Anthony Erlinger, Derek Tseng, and Aydogan Ozcan. "Towards
                            Wireless Health:
                            Lensless On-Chip Cytometry." Optics and Photonics News (2008): 24. Print.
                        </li>
                        <li> Mudanyali, Onur, Anthony Erlinger, Sunkgyu Seo, Ting-Wei Su, Derek Tseng, Aydogan Ozcan
                            (1899).
                            “Lensless On-chip Imaging of Cells Provides a New Tool for Cell-Biology and Diagnostics.
                            JoVE.
                            http://www.jove.com/index/details.stp?id=1650, doi: 10.3791/1650.
                        </li>
                    </ol>
                </div>

                <h2>Refereed Conference Publications</h2>

                <div class="well">
                    <ol>
                        <li>S. Seo, T. Su, D.K. Tseng, A. Erlinger, and A. Ozcan, “On-chip Cytometry using Lensless
                            Digital
                            Holography,” OSA Conference on Lasers and Electro-optics (CLEO ’09) (May 31- June 4, 2009)
                        </li>
                        <li>S. Seo, T. Su, A. Erlinger, and A. Ozcan, “Lensfree on-chip detection of bacteria at low
                            concentrations using LUCAS,” SPIE Photonics West, Imaging, Manipulation, and Analysis of
                            Biomolecules,
                            Cells, and Tissues VII, January 2009, San Jose, CA, paper # 7182-23
                        </li>
                        <li>T. Su, S. Seo, A. Erlinger, and A. Ozcan, “Multi-Angle LUCAS for High-throughput On-chip
                            Cytometry,”
                            30th Annual International Conference of the IEEE Engineering in Medicine and Biology
                            Society, EMBC-LEOS
                            Joint Symposium, August 21-22, 2008, Vancouver, Canada
                        </li>
                        <li>S. Seo, T. Su, A. Erlinger, and A. Ozcan, “Improved High-throughput On-chip Characterization
                            of Cells
                            Using Tunable Wavelength Illumination,” Biomedical Engineering Society (BMES) Fall Meeting,
                            October 2-4,
                            2008, St. Louis, MO (Outstanding Paper Award)
                        </li>
                        <li>S. Seo, T. Su, A. Erlinger, and A. Ozcan, “Digital Noise Reduction for High-throughput On
                            Chip Cell
                            Characterization,” University of California Systemwide Bioengineering Symposium, June 20-22,
                            2008,
                            Riverside, CA
                        </li>
                        <li>S. Seo, T. Su, A. Erlinger, and A. Ozcan, “High index optical materials for high-throughput
                            lensfree
                            imaging, counting and sorting of cells on a chip,” ASME 3rd Frontiers in Biomedical Devices
                            Conference,
                            June 18-20, 2008, Irvine, CA
                        </li>
                        <li>T. Su, S. Seo, A. Erlinger, and A. Ozcan, “High-throughput cell imaging, counting and
                            characterization
                            on a chip,” ASME Summer Bioengineering Conference, June 2008, Florida
                        </li>
                        <li>T. Su, S. Seo, A. Erlinger, and A. Ozcan, “Large Depth-of-Field Lensfree Imaging and
                            Characterization
                            of Cells over an Ultra-wide Field-of-View,” OSA Biomedical Optics Topical Meeting, March
                            2008, Florida.
                        </li>
                    </ol>
                </div>

            </div>
        </div>

    </div>
</div>
