#home {
  //color: #FFF;
  position: relative;
  height: 100%;

  .sub-page .title {
    margin-left: 18px;
  }

  ul.navi {
    list-style-type: none;

    margin: 0 -1px 1em -1px;

    padding: 0 5px;
  }
}

#home.sub-page .title h1, h2, h3, h4, h5 {
  margin-left: 0;
}

#home .title h3 {
  margin-left: 3em;
  font-size: 1.4em;
}

#home ul.navi li a {
  font-family: museo-slab;
  font-weight: bold;

  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;

  display: block;
  border-left: 1px solid #A00;
  border-right: 1px solid #A00;

  color: #555;
  background-color: rgba(0, 0, 0, 0);

  padding: .5em 1em;
  padding-right: 0;
}

#home ul.navi li a:hover {
  background-color: #A00;
  color: white;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  text-decoration: none;
}

#home h2, #home h3, #home h4 {
  color: #900;
}

#home a {
  //text-decoration: none;
  color: #850000;
  @include transition(border 300ms linear);

  &:hover {
    text-decoration: underline;
    color: #900;
  }
}
