.project-image {
  border: 1px solid lightgray;
  display: block;
  height: 150px;
  float: left;
  margin-right: 15px;
  margin-top: 18px;
}

p.project-description {
  font-family: 'Lato', sans-serif;
  color: #2c2c2c;
  font-size: 15px;
  text-align: justify;
}

.project-list > p {
  font-family: 'Lato', sans-serif;
  color: #2c2c2c;
  font-size: 10.5pt;
  line-height: 15pt;
  text-align: justify;
}

.project-header {
  font-family: 'museo-slab';
  font-style: normal;
  display: block;
  font-size: 18px;
}

.project-list {
  display: block;
  border-top: 1px solid #f5f5f5;
  position: relative;
  min-height: 185px;
}

ul.project-list li {
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;

  border-bottom: 1px solid #ededed;
}

ul.project-list li:first-child {
  border-top: 1px solid #ededed;
}

ul.project-list li:nth-child(even) {
  background-color: white !important;
}

ul.project-list li:nth-child(odd) {
  background-color: #fcfcfc !important;
}

.view-source {
  margin-top: 11px !important;
  float: right;
}

.visit-site {
  font-size: 12px;
  font-style: italic;
  margin-left: 10px !important;
  color: #666 !important;
  text-decoration: underline;
}

.project-link {
  font-family: 'museo-slab';
  font-weight: bold;
  /*position: absolute;*/
  /*right: 5px;*/
  /*top: 18px;*/
  font-size: 12px;

  //float: right;
  display: inline-block;
  margin: 18px 0px 0px 35px;
}

.github-source-icon {
  margin-right: 6px;
  position: relative;
  top: 6px;
  opacity: 0.6;
}

#project_list {
  margin-left: 5px;
}

.project-header {
  margin-top: 18px;
}

#projects h3 {
  font-size: 19px;
  line-height: 21px;
  margin-bottom: 7px;
  display: inline-block;
}

.technologies {
  .tech-used {
    font-size: 10pt;
    color: #446f9c;
  }

  .tech-label {
    padding: 1px 4px;
    border-radius: 3px;
    font-size: 9pt;
    border: 1px solid #d8d1db;
    background-color: rgba(37, 148, 180, 0.05);
  }
}
