<!DOCTYPE html>
<html>

{% include head.html %}

<body data-spy="scroll" data-offset="10" id="page">

<section id="home">
  <div class="container">
    <div class="story">
      <div class="container">

        <div class="row">
          <div class="title">
            <h1>Anthony Erlinger</h1>
            <h3>Portfolio site of a developer, data hacker, and science nut.</h3>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span3">
            <a class="thumbnail portrait" title="Description of image">
              <img src="/assets/aerlinger.jpg" alt="">
            </a>
          </div>

          <div class="span2">
            {% include navigation.html %}
          </div>

          {{ content }}

        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>
