<!DOCTYPE html>
<html>

{% include head.html %}

<body id="home">


<section id="header" class="sub-page">
  <div class="container">
    <div class="row">
      <div class="title">
        <h2 id="title">
          <a href="/" class="full-name">Anthony Erlinger</a>
          <span class="slash">//
          </span>
          <span class="page-title">
            {{ page.title }}
          </span>
        </h2>
        <h5 id="subtitle">{{ site.description }}</h5>
      </div>
    </div>
  </div>
</section>

<section id="" class="sub-page">
  <div class="container">
    <div class="story">

      <div class="row">
        <div class="col-xs-2">
          <a href="/" class="thumbnail portrait" title="Description of image">
            <img src="/assets/aerlinger.jpg" alt="">
          </a>

          {% include navigation.html %}
        </div>

        {{ content }}

      </div>
    </div>
  </div>
</section>

{% include comment_count.html %}

</body>
</html>
